body{
    background-image: url("https://www.drodd.com/images14/white-wallpaper10.jpg");
    background-color: aliceblue;
 
}
#random {
    font-size: xx-large;
}
#score {
    font-size: xx-large;
}
h3{
font-family: fantasy;
}